* {
        box-sizing: border-box;
      }
  
          }
      ul {
        padding: 0 0;
        list-style: none;
        margin:0 0;
      }
      h1,h2,h3,h4,h5,h6{
        padding:0 0;
        margin:0 0;
      }
      body {
        font-family: Arial, Helvetica, sans-serif;
        color: #333;
        line-height: 1.4;
      }

      #header {
        margin-bottom: 15px;
        background: #99bf39;
        color: #fff;
        padding: 10px;
      }

      #main {
        float: left;
        width: 69%;
      }

      #sidebar {
        float: right;
        width: 29%;
      }
      .logo{
        text-align: flex;
      }
      .logo a {
        font-size: 3em;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        color: #fff;
        font-family: "Roboto Slab", serif;
      }
      .logo p {
        color: #fff;
        text-transform: uppercase;
        font-size: 1.2em;
        margin-top: -10px;

      .clr {
        clear: both;
      }

      .top-menu {
        margin: 0 auto;
        width:93%;
      }
      .top-menu ul li {
        display: block;
      }
      .top-menu:after, .top-menu:before {
        content: "";
          float:left;
      }
      .top-menu:after {
          border-right-color:transparent;
      }
      
      .top-menu:before {
          border-left-color:transparent;
      }

      .top-menu span {
        background:#fff;
        display:inline-block;
        line-height:3em;
        padding:0 4em;
        font-family: "Roboto Slab", serif;
        margin-top:0.5em;
        position:relative;
      #footer {
        background: #333;
        color: #fff;
        padding: 10px;
      }

      .top-menu a:hover span {
        background:#fff;
        margin-top:0;
    }
    .top-menu a.active span {
        background:#FFD204;
        margin-top:0;
    }
    .top-menu span:before {
        content: "";
        position:absolute;
        top:3em;
        left:0;
        border-right:0.5em solid #9B8651;
        border-bottom:0.5em solid #fff;
    }
    .top-menu span:after {
        content: "";
        position:absolute;
        top:3em;
        right:0;
        border-left:0.5em solid #9B8651;
        border-bottom:0.5em solid #fff;
    }
    .top-menu a:link, .ribbon a:visited { 
        color:#000;
        text-decoration:none;
        float:left;
        height:4.5em;
        overflow:hidden;
      .text-center {
        display: block;
        text-align: center;
      }

      @media(max-width:1024px){
        .caption {
          width: 63%;
          top: 31%;
          left: 19%;
        }
      }
      @media(max-width:768px){
        .caption {
          width: 70%;
          top: 22%;
          left: 13%;
        }
        .caption h3{
          font-size:1.5em;
        }
        a.morebtn {
          width: 26%;
        }
        .callbacks_nav {
            top: 55%;
         }
      }
      @media(max-width:640px){
        .caption {
          width: 70%;
          top: 12%;
          left: 13%;
        }
        .caption h3{
          font-size:1.5em;
        }
        a.morebtn {
          width: 30%;
        }
        .callbacks_tabs a:after {
          height: 10px;
          width: 10px;
        }
      }
      @media(max-width:480px){
        .caption {
          width: 70%;
          top: 14%;
          left: 13%;
        }
        .callbacks_nav {
            top: 60%;
         }
        .caption p{
          height:25px;
          overflow:hidden;
          margin:0.5em 0;
        }
        .caption h3{
          font-size:1.4em;
        }
        a.morebtn {
          width: 40%;
          font-size:0.8em;
        }
        .callbacks_tabs a:after {
          height:4px;
          width: 4px;
        }
        ul.callbacks_tabs.callbacks1_tabs {
          bottom: 10px;
          left: 4px;
        }
      }
      @media(max-width:320px){
        .caption {
          width: 70%;
          top: 14%;
          left: 13%;
        }
        .callbacks_nav {
            top: 63%;
         }
        .caption p{
          height:25px;
          overflow:hidden;
          margin:0.2em 0;
        }
        .caption h3{
          font-size:1em;
        }
        a.morebtn {
          width: 50%;
          font-size: 0.8em;
          padding:0.6em 0.5em; 
        }
        .callbacks_tabs a:after {
          height:4px;
          width: 4px;
        }
        ul.callbacks_tabs.callbacks1_tabs {
          bottom: 10px;
          left: 4px;
        }
      .card {
        border: 1px solid #ddd;
        background: #f4f4f4;
        padding: 20px;
        margin-bottom: 10px;
      }